{{- $destination := .Destination -}}
{{- $isSandboxLink := hasPrefix $destination "/sandboxes/" -}}
{{- $isInSandboxSection := eq .Page.Section "sandboxes" -}}
{{- $isInWarningSection := eq .Page.Section "warning" -}}

{{- if and $isSandboxLink (not $isInSandboxSection) (not $isInWarningSection) -}}
  {{- $destination = replace $destination "/sandboxes/" "/warning/" 1 -}}
{{- end -}}

<a href="{{ $destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>{{- "" -}}

