@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold-Oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-mono: 'Berkeley Mono', monospace;
}

time {
  font-family: var(--font-mono);
}

code {
  font-family: var(--font-mono);
}

pre {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--background-color);
  background-color: var(--link-color);
  text-decoration: none;
}

